<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Simple ToDo</title>
    <link rel="stylesheet" th:href="@{/style.css/style.css}"/> <!-- Example CSS -->
</head>
<body>
<div class="container">
    <h1>Login</h1>
    <div th:if="${param.error}" class="alert alert-danger">
        Invalid username or password.
    </div>
    <div th:if="${param.logout}" class="alert alert-success">
        You have been logged out.
    </div>
    <div th:if="${registrationSuccess}" th:text="${registrationSuccess}" class="alert alert-success">
        Registration successful message.
    </div>

    <form th:action="@{/perform_login}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required autofocus/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required/>
        </div>
        <div>
            <button type="submit">Log in</button>
        </div>
    </form>
    <p>Don't have an account? <a th:href="@{/register}">Register here</a></p>
</div>
</body>
</html>